/*Navbar*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    animation: normal;
}

/* Navbar */

nav {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    border-radius: 0px 0px 35px 35px;
}
nav .mainMenu {
    display: flex;
    list-style: none;
    align-items: center;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
    /* transition: 1s; */
}
nav .mainMenu li a:hover {
    color: rgb(255,94,0);
    text-transform: uppercase;
    font-weight: bold;
}
nav .openMenu {
    font-size: 1rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 1rem;
    display: none;
    cursor: pointer;
}
/* .fa-facebook:hover {color: rgb(0, 110, 255);}
.fa-twitter:hover {color: rgb(86, 154, 243);}
.fa-instagram:hover {color: rgb(255, 0, 191);}
.fa-github:hover {color: rgb(255, 123, 0);} */


nav .logo {
    margin: 6px;
    font-size: 25px;
    cursor: pointer;
}

.register-btn{
    background: #FF6701;
    color: rgb(255, 255, 255);
    padding: 10px;
    border : none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.register-btn:hover{
    color: #FF6701;
    background-color: rgb(255, 255, 255);
    /* padding: 10px; */
    /* border : 0.1px solid #FF6701; */
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgb(255, 94, 0);
        color: #fff;
        transition: top 1s ease;
        align-items: center;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a{
        color: #fff;
        font-weight: bold;
    }
     nav .mainMenu li a:hover {
        color: white;
     }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}
/* .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-bottom: 1px black solid; */
    /* border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    stroke: #FF6701 1px;
    background-color: white;
    box-shadow: 0 0 30px #FF7518 ;
    
}  */

/* .nav-content{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
} */



/* .nav-content-topic{
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

#home{
    transition: 0.5s;
}

#home:hover{
    color: #FF6701;
    transform: scale(1.2);
} */

/* .nav-content-topic-about{
    text-decoration: none;
    color: black;
    
} */
/* .nav-content-topic:hover{
    color: #FF6701;
    transform: scale(1.2);
    font-weight: bolder;
    text-decoration: underline;
    transition: 0.5s;

}

.nav-content-topic-about{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.nav-content-topic-about:hover{
    color: #FF6701;
    transform: scale(1.2);
    font-weight: bolder;
    text-decoration: underline;
    transition: 0.5s;

} */

/* .nav-content-topic-about-dec{
    transition: 0.5s;
}

.nav-content-topic-about-dec:hover{
    color: #FF6701;
    transform: scale(1.2);
}

#contact{
    transition: 0.5s;
}

#contact:hover{
    color: #FF6701;
    transform: scale(1.2);
}

#team{
    transition: 0.5s;
}

#team:hover{
    color: #FF6701;
    transform: scale(1.2);
}

#event{
    transition: 0.5s;
}

#event:hover{
    color: #FF6701;
    transform: scale(1.2);
} */

/* .nav-content-topic-button{
    transition: 0.2s;
} */

/* .nav-content-topic-button:hover{
    color: #FF6701;
    background-color: white;
} */

/* .nav-content-topic-button{
     font-size: 1rem; 
     padding: 0.5rem 1rem 0.5rem 1rem;
     border-radius: 25px;
     background-color: #FF6701;
     color: white;
     font-weight: bolder;
     border: none;
    /* height: 3rem; 
    margin-top: 1rem; */
/*  */


/* .logo{
    margin-top: 1.5rem;
} */

/*Home page Design*/

.home-page-design-image{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
    margin-top: -10rem;
}

.home-page-unity{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: #FF7A19;
    margin-bottom: 25px;
}

body{
    box-sizing: border-box;
}
.nav_cont{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0rem;
    right: 1%;
    left: 0;
    background-color: white;
    padding: 1rem 8%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 100px;
}
.logo{
    width:35%;
}
.logo>img{
max-width:19rem;
max-height:75%;
}
.nav-items ul a li{
    display: inline;
    list-style-type:none;
}
.nav-items ul a{
    text-decoration: none;
    padding:0.6rem 0rem;
    font-weight:502;
    margin-left:0.8rem;
    font-size:1.28rem;
    color: #2C599D;
}
/* .text-center{
    padding-top:60px;
} */
.fa-bars{
    display:none;
}

@media screen and (max-width:990px){
    .nav{
        height:100px;
        padding:0.5rem 1rem 0.5rem 1rem;
    }
    .nav-items{
        position: absolute;
        top:101%;
        left:0px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .active{
        width:100%;
        background-color: white;
        position: absolute;
        top:101%;
        left:0px;
        border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
        border-top:none;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .nav-items ul{
        padding:0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap:wrap;
    }
    .nav-items ul a{
        display:block;
        text-align: center;
        width:100%;
        margin:0.3rem;
    }
    .nav-items ul  a:hover{
        color:#ff7a00;
    }
    
    .fa-bars{
        display:block;
        padding:0.5rem;
    }
}
@media screen and (max-width:575px){
    .nav{
       width:96.5%;
    }
}
@media screen and (max-width:800px){
    .nav{
        width:96%;
    }
    .logo{
        width:40%;
    }
}
@media screen and (max-width:411px){
    .nav{
        width: 94.5%;
    }
    .logo>img{
        max-width:200%;
        max-height:200%;
    }
}
@media (min-width: 320px) and (max-width:768px) {
    .nav{
        width: 93.9%;
    }
    .logo{
        width:60%;
    }
    .logo>img{
        max-width:130%;
        max-height:130%;
    }
    .nav{
        height:100px;
    }
    .nav-items{
        position: absolute;
        top:101%;
        left:0px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .active{
        width:100%;
        background-color: white;
        position: absolute;
        top:101%;
        left:0px;
        border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);
        border-top:none;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .nav_cont {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0rem;
        right: 1%;
        left: 0;
        background-color: white;
        padding: 1rem 8%;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
        z-index: 1000;
        height: 100px;
    }
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
	font-size: 16px;
    font-weight: 500;
    color: #ff7a00;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.header-section .title {
    text-align: center;
}

.header-section .small-title {
    text-align: center;
}

.team-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding:2rem;
}

.team-details{
    flex: 0 0 auto;
    width: 25%;
}

.section-team .single-person {
	margin-top: 30px;
	padding: 30px;
	border-radius: 5px;
}

.section-team .single-person:hover {
	background: #ff7a00;
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}


.section-team .single-person .person-image .icon1 {
	position: absolute;
    bottom: 10%;
    left: 20%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ff7a00;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person .person-image .icon1 i{
    margin: 27%;
}

.section-team .single-person:hover .person-image .icon1 {
	background: none;
	background-color: #fff;
	color: #ff7a00;
}

.section-team .single-person .person-image .icon2 {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ff7a00;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person .person-image .icon2 i{
    margin: 27%;
}


.section-team .single-person:hover .person-image .icon2 {
	background: none;
	background-color: #fff;
	color: #ff7a00;
}

.section-team .single-person .person-image .icon3 {
	position: absolute;
    bottom: 10%;
    left: 80%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #ff7a00;
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person .person-image .icon3 i{
    margin: 27%;
}

.section-team .single-person:hover .person-image .icon3 {
	background: none;
	background-color: #fff;
	color: #ff7a00;
}

.section-team .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 24px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #ff7a00;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
	color: #fff;
}

@media (max-width: 1200px){
    .team-details{
    flex: 0 0 auto;
    width: 30%;
    }
}

@media (max-width: 1080px){
    .team-details{
    flex: 0 0 auto;
    width: 40%;
    }
}

@media (max-width: 706px){
    .team-details{
    flex: 0 0 auto;
    width: 100%;
    }
}

/* Contact Section */

.contact{
    background-color: #FF8400;
    color: white;
    padding: 3rem 5rem 0;
}

.contact-heading-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-heading{
    text-align: left;
    font-size: 1.5rem;
    font-weight: bolder;
}

.social-media{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.social-media a{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5rem;
}

.contact-links{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 3rem 0 3rem;
    flex-wrap: wrap;
    gap:2rem;
}

.quick-links h3{
    position: relative;
}

.quick-links h3::after{
    content: '';
    position: absolute;
    bottom: 0rem;
    left: 87%;
    transform: translateX(-50%);
    background-color: #ffffff;
    width: 2rem;
    height: 2px;
    border-radius: 0.8rem;
    opacity: 0.5;
}

.contact-logo{
    background-color: #FFF3E5;
    border-radius: 50rem;
    width: 130px;
    height: 100%;
}

.contact-links ul{
    list-style-type:none;
    text-align: right;
}

.contact-links ul li{
    margin: 6px 0 0;
}

.contact-copyright{
    background-color: #FFAD76;
    color: white;
    text-align: center;
    padding: 1rem;
}

@media (max-width:786px) {
    .contact{
        padding: 3rem 2rem 0;
    }

    .contact-links{
        justify-content: center;
    }
}
